<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>lab4,5</title>
    <style>
      . {

      }
      .intro_p{
        font-family: monospace;
        padding: 20px;
        margin-bottom: 15px;
      }
      #poi
      {
        background-color: rgb(237, 128, 128);
      }
      #pol
      {
        background-color: rgb(99, 84, 56);
      }
      #pok
      {
        font-size: 150%;
        font-weight: bold;
      }
      p{
        font-size: 20px;
      }
      #div_main{
        display: inline-flex;
        width: 80%;
        margin:0 10%;
      }
    </style>

  </head>
  <h1>Зал самопознания</h1>
  <div id="div_main">
    <div class="intro_p border-2 bg-red-200" id="poi"> <i> <b>Lorem ipsum </b>dolor</i> sit amet, consectetur adipisicing elit. Ad alias, aperiam beatae consectetur cumque dignissimos dolore dolores error ex explicabo facere necessitatibus omnis quod recusandae, sapiente sunt tempora, vitae voluptatum!</div>
    <div class="intro_p" id="pol"> <sapn id="pok"> Lorem ipsum dolor sit amet, consectetur adipisicing elit</sapn> Blanditiis deserunt doloribus ea eveniet neque quaerat quasi soluta? Accusantium cumque doloremque expedita, fugiat, iste magnam magni natus praesentium, qui rerum tempora!</div>
    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, accusamus aliquid animi aspernatur, atque cupiditate deleniti dolorem iusto laboriosam libero nostrum obcaecati perspiciatis quae quasi quo repellendus sequi temporibus ullam?</div>
  </div>

  <ol>
    <li>Tom</li>
    <li>CAt</li>
    <li>Smth</li>
  </ol>

  <form action="">
    <input type="text"> <br>
    <input type="password"><br>
    <input type="button"><br>
    <input for="h1" type="radio">
    <input for="h1" type="radio">
    <input for="h1" type="radio">
  </form>
  </body>
</html>
